---
import type { Post } from '$lib/reddit/post';
import PostC from './Post.astro';

interface Props {
	posts: Post[];

	before?: string;
	after?: string;
}

const { posts, before, after } = Astro.props;
---

<div id="posts">
	{posts.map((post) => <PostC showSubreddit post={post} />)}
</div>

<div class="pagination">
	{before && <a href={`?before=${before}`}> PREV</a>}
	<div class="spacer"></div>
	{after && <a href={`?after=${after}`}> NEXT</a>}
</div>

<style lang="scss">
	.pagination {
		@apply flex rounded overflow-hidden mb-4;

		.spacer {
			@apply flex-grow bg-gray-100;
		}

		a {
			@apply w-20 py-1 bg-blue-600;
			@apply text-center font-bold text-sm text-white;
		}
	}
</style>
