---
import { getSubreddit } from '$lib/reddit/subreddit';
import Post from '$components/Post.astro';

const { subreddit } = Astro.params;
const { posts, name } = await getSubreddit(subreddit!!);
---

<div class="container">
	<h1>r/{name}</h1>

	<div id="posts">
		{posts.map((post) => <Post post={post} />)}
	</div>
</div>

<style lang="scss">
	body {
		@apply bg-gray-200;
	}

	.container {
		@apply mx-auto max-w-3xl;
	}
</style>
